// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.cover-right {
  background-image: url("../img/aqueducts.svg");
  background-repeat: no-repeat;
  background-size: 88%;
  background-position: right top;
}

.cover-right img {
  position: absolute;
  left: 0;
  bottom: 0;
}

#cover-img {
  transition: 0.6s;
}

#wave1 {
  transition: 0.4s;
}

.about {
  background: url("../img/about_pattern.svg");
  background-size: auto 100%;
  background-repeat: repeat-x;
}

.wave {
  position: relative;
}

.wave img {
  position: absolute;
  bottom: -125px;
  right: -140px;
}

.services-inner {
  background-image: url("../img/wave_reflect.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
}

.strengths {
  background-image: url("../img/pattern_tint.svg");
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-color: $primary;
}

.strengths_block {
  background-image: url("../img/shield.svg");
  background-color: $primary;
  background-repeat: no-repeat;
  background-position: right center;
}

.num {
  color: white;
  font-size: 72px;
  font-weight: bold;
}

.wave-2 {
  background-color: $primary;
  background-image: url("../img/pattern_str_bt.svg");
  background-repeat: repeat-x;
  background-position: 100% bottom;
}

#gmap_canvas {
  height: 260px;
  width: 100%;
}

.mapouter {
  position: relative;
  text-align: left;
  height: 100%;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100%;
}

// MEDIA

@media (max-width: 600px) {
  .navbar-brand img {
    width: 85%;
  }
  #cover h1 {
    line-height: 1.2;
  }
  .cover-right {
    background-size: 100%;
  }
  .cover-right img {
    position: relative;
    padding-top: 40px;
  }
  .services-inner {
    background-image: none;
  }
}
