<div class="row">
  <div class="col-12 col-md-5 mb-5 mb-md-0">
    <img class="img-fluid" src="{{root}}assets/img/office.png" />
  </div>

  <div class="col-12 col-md-5 wave">
    <h2>About Us</h2>
    <p>
      <strong>"AQUADUCO WATER INFRASTRUCTURE TREATMENT"</strong> provides
      construction services within the component of water infrastructure. The
      company is based in the United Arab Emirates and operates from&nbspits
      head office in Dubai.
    </p>
    <br />
    <p>
      Having a strong engineering and planning team "AQUADUCO&nbspWATER
      INFRASTRUCTURE TREATMENT" is&nbspcapable of&nbspcommencing work
      on&nbsprelevant projects around&nbspthe&nbspglobe.
    </p>
    <img id="wave1" class="img-fluid d-none d-md-flex" src="{{root}}assets/img/wave.svg" />
  </div>
</div>
