<div class="row">
  <div class="col-12 col-lg-6 mb-5 mb-lg-0">
    <img class="img-fluid" src="{{root}}assets/img/office.png" />
  </div>

  <div class="col-12 col-lg-6 wave">
    <h2 class="mb-4">About Us</h2>
    <p>
      <strong>"AQUADUCO WATER INFRASTRUCTURE TREATMENT"</strong> provides
      construction services within the component of water infrastructure. The
      company is based in the United Arab Emirates and operates from&nbspits
      head office in Dubai.
    </p>
    <br />
    <p>
      Having a strong engineering and planning team "AQUADUCO&nbspWATER
      INFRASTRUCTURE TREATMENT" is&nbspcapable of&nbspcommencing work
      on&nbsprelevant projects around&nbspthe&nbspglobe.
    </p>
    <img
      id="wave1"
      class="img-fluid d-none d-xxl-flex"
      src="{{root}}assets/img/wave.svg"
    />
  </div>
</div>
