<div class="row">
  <div class="col-md-6 h-100">
    <h2 class="text-center text-md-left mb-4">Contacts</h2>

    <div class="row justify-content-center justify-content-start">
      <div class="col-12 col-sm-5 col-md-6 mb-3 text-center text-md-left">
        <h4>AQUADUCO<br />Water Infrastructure Treatment</h4>

        <p class="text-primary mb-0">
          <strong>Address:</strong>
          Office 203-055<br />Orion Pride Business Center,<br />Dubai, United
          Arab Emirates
        </p>
      </div>

      <div class="col-12 col-sm-5 col-md-6 mb-5 mb-md-4">
        <div
          class="d-flex d-md-block justify-content-center justify-content-md-start"
        >
          <p class="text-primary font-weight-bold">E-mail:&nbsp;</p>
          <a href="mailto:info@aquaduco.io" class="mb-2 d-block"
            >info@aquaduco.io</a
          >
        </div>

        <div
          class="d-flex d-md-block justify-content-center justify-content-md-start"
        >
          <p class="text-primary font-weight-bold">Phone:&nbsp;</p>
          <a href="tel:+971505611594" class="mb-2 d-block">+971 50 561 1594</a>
        </div>
      </div>

      <div class="col-12 mb-5 m-md-0">
        <div class="mapouter mt-3">
          <div class="gmap_canvas">
            <iframe
              id="gmap_canvas"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3610.5295317440186!2d55.2805675!3d25.185358899999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f43133e5df661%3A0x5ae7f7ce3f3ae6fd!2sOrion%20Engineering%20Consultants!5e0!3m2!1sen!2sru!4v1656791564289!5m2!1sen!2sru"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 px-md-5">
    <h3 class="text-center text-md-left">Write to us</h3>

    <form
      action="{{root}}actions/send.php"
      method="POST"
      class="needs-validation"
      novalidate
    >
      <div class="form-row">
        <div class="col-md-12 mb-3">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            required
          />
          <div class="invalid-feedback">Please enter your name</div>
        </div>
        <div class="col-md-12 mb-3">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            required
          />
          <p class="small">We will never share your email with anyone else.</p>
          <div class="invalid-feedback">Please enter your email</div>
        </div>
        <input type="text" id="website" name="website" style="display: none" />
        <div class="col-md-12 mb-3">
          <label for="message">Message</label>
          <textarea
            class="form-control"
            id="message"
            name="message"
            rows="7"
            required
          ></textarea>
          <div class="invalid-feedback">Please enter your message</div>
        </div>
      </div>

      <button class="btn btn-secondary" type="submit">Send</button>
    </form>
  </div>
</div>
