<div class="row">
  <div class="col-12 col-md-6 col-lg-5">
    <h1
      class="mb-5 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.3s"
      data-wow-offset="20"
    >
      We build<br />for the ages
    </h1>
    <h3
      class="mb-5 font-weight-normal wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.3s"
      data-wow-offset="20"
    >
      Water Infrastructure Treatment
    </h3>
    <a
      href="#services"
      class="btn btn-secondary wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.4s"
      data-wow-offset="20"
      >Read more</a
    >
  </div>
  <div
    class="col-12 col-md-6 col-lg-7 d-none d-md-flex cover-right pt-5 py-md-0 wow fadeIn"
    data-wow-duration="1s"
    data-wow-delay="0.4s"
  >
    <img
      id="cover-img"
      class="img-fluid wow fadeInLeft"
      data-wow-duration="1.5s"
      data-wow-delay="0.6s"
      data-wow-offset="0"
      src="{{root}}assets/img/water.svg"
    />
  </div>
</div>
