<footer class="footer pb-5">
  <div class="container">
    <img class="img-fluid w-100" src="{{root}}assets/img/line_ft.svg" />
    <nav id="footernav" class="mb-3 pt-4">{{> nav_both}}</nav>
    <p class="font-weight-light text-center text-md-left small">
      2022 Aquaduco. Water Infrastructure Treatment.<br />© All rights reserved.
    </p>
  </div>
</footer>
<!-- build:js -->
<script src="{{root}}assets/vendor/js/jquery.js"></script>
<script src="{{root}}assets/vendor/js/popper.js"></script>
<script src="{{root}}assets/vendor/js/bootstrap.js"></script>
<script src="{{root}}assets/js/util/autoPadding.js"></script>
<script src="{{root}}assets/js/util/crossPlatform.js"></script>
<script src="{{root}}assets/js/main.js"></script>
<!-- endbuild -->
