<ul
  class="nav mr-auto pl-0 justify-content-center justify-content-md-start"
  style="font-size: 20px"
>
  <li class="nav-item active">
    <a class="nav-link text-primary font-weight-normal pl-md-0" href="#header"
      >Home<span class="sr-only">(current)</span></a
    >
  </li>
  <li class="nav-item px-2">
    <a class="nav-link text-primary font-weight-normal" href="#about"
      >About Us</a
    >
  </li>
  <li class="nav-item px-2">
    <a class="nav-link text-primary font-weight-normal" href="#services"
      >Our Services</a
    >
  </li>
  <li class="nav-item px-2">
    <a class="nav-link text-primary font-weight-normal" href="#strengths"
      >Strengths</a
    >
  </li>
  <li class="nav-item px-2">
    <a class="nav-link text-primary font-weight-normal" href="#contacts"
      >Contacts</a
    >
  </li>
</ul>
