<input type="checkbox" id="myInput" />
<label for="myInput" class="menu-label">
  <span class="bar top"></span>
  <span class="bar middle"></span>
  <span class="bar bottom"></span>
</label>
<aside>
  <div class="aside-section aside-right">
    <ul class="aside-list">
      <li><a href="#about" class="aside-anchor">About Us</a></li>
      <li><a href="#services" class="aside-anchor">Services</a></li>
      <li><a href="#strengths" class="aside-anchor">Strengths</a></li>
      <li><a href="#contacts" class="aside-anchor">Contact Us</a></li>
    </ul>

    <div class="px-5">
      <p class="mb-4 pt-5 text-primary font-weight-bold">
        AQUADUCO<br />Water Infrastructure Treatment
      </p>

      <p class="text-primary mb-4">
        <strong>Address:</strong><br />
        <span class="small"
          >Office 203-055<br />Orion Pride Business Center,<br />Dubai, United
          Arab Emirates</span
        >
      </p>
      <p class="text-primary font-weight-bold">E-mail:&nbsp;</p>
      <a href="mailto:info@aquaduco.io" class="mb-4 d-block"
        >info@aquaducouae.com</a
      >
      <p class="text-primary font-weight-bold">Phone:&nbsp;</p>
      <a href="tel:+971505611594" class="mb-4 d-block">+971 50 561 1594</a>
    </div>
  </div>
</aside>
