<div class="text-center mb-5">
  <h2>Our Services</h2>
  <img class="img-fluid" src="{{root}}assets/img/wings.svg" />
</div>

<div class="row py-5 text-center text-md-left services-inner">
  <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0 pb-5 pb-lg-0">
    <img class="img-fluid mb-4" src="{{root}}assets/img/planning_icon.svg" />
    <h3>Planning and Engineering</h3>
    <p class="pr-0 pr-md-3">
      We approach each project individually and propose the best design
      solutions.
    </p>
  </div>

  <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0 pb-5 pb-lg-0">
    <img class="img-fluid mb-4" src="{{root}}assets/img/procurement_icon.svg" />
    <h3>Procurement</h3>
    <p class="pr-0 pr-md-3">
      Having a vast network of suppliers, our company is capable of procuring
      all the required elements for the project&nbspworks.
    </p>
  </div>

  <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0 pb-5 pb-lg-0">
    <img class="img-fluid mb-4" src="{{root}}assets/img/civil_works_icon.svg" />
    <h3>Civil Works</h3>
    <p class="pr-0 pr-md-3">
      By implementing strong requirements for the selection of sub-contractors,
      we are enabled for maintaining projects abroad. All management procedures
      are handled directly by "AQUADUCO WATER INFRASTRUCTURE TREATMENT"
    </p>
  </div>

  <div class="col-12 col-md-6 col-lg-3">
    <img
      class="img-fluid mb-4"
      src="{{root}}assets/img/installation_icon.svg"
    />
    <h3>Installation</h3>
    <p class="pr-0 pr-md-3">
      We complete projects on a turnkey basis, which includes installation of
      temporary facilities, fabrication yards, Installation of metal structures
      and technological pipelines; Hot galvanizing of metal structures;
      Anticorrosive protection of surfaces; Thermal insulation works; Argon
      welding; Installation of equipment; Arrangement of concrete and reinforced
      concrete monolithic structures;
    </p>
  </div>
</div>
