<div class="row mb-5 py-3">
  <div class="col-12 col-md-2 text-left text-md-center py-4 mb-3 mb-md-0">
    <p class="num">I</p>
  </div>
  <div class="col-12 col-md-7">
    <h3 class="text-white">Engineering & Planning</h3>
    <p class="text-white">
      Industry-recognized Engineers and Project Managers with a rich portfolio
      of completed projects. We&nbspare implementing innovative technological
      solutions to maintain both the time & cost efficiency of&nbspour projects.
    </p>
  </div>
</div>

<div class="row mb-5 py-3">
  <div class="col-12 col-md-2 text-left text-md-center py-4 mb-3 mb-md-0">
    <p class="num">II</p>
  </div>
  <div class="col-12 col-md-6">
    <h3 class="text-white">High-quality standards</h3>
    <p class="text-white">
      We implement the highest quality standards in our organization by
      maintaining the Quality Management System, Quality Policy, and Quality
      Assurance Procedures.
    </p>
  </div>
</div>

<div class="row mb-5 py-3">
  <div class="col-12 col-md-2 text-left text-md-center py-4 mb-3 mb-md-0">
    <p class="num">III</p>
  </div>
  <div class="col-12 col-md-6">
    <h3 class="text-white">Health, Safety, and Environment</h3>
    <p class="text-white">
      HSE is a priority. We track each project for Key Performance
      Indicator(KPI) and currently maintain our rate of Lost Time Incidents
      (LTI) at zero level.
    </p>
  </div>
</div>

<div class="row mb-5 py-3">
  <div class="col-12 col-md-2 text-left text-md-center py-4 mb-3 mb-md-0">
    <p class="num">IV</p>
  </div>
  <div class="col-12 col-md-6">
    <h3 class="text-white">Personnel</h3>
    <p class="text-white">
      We hire highly trained and experienced specialists that meet government
      requirements of the country of operations.
    </p>
  </div>
</div>

<div class="row mb-5 py-3">
  <div class="col-12 col-md-2 text-left text-md-center py-4 mb-3 mb-md-0">
    <p class="num">V</p>
  </div>
  <div class="col-12 col-md-7">
    <h3 class="text-white">Equipment</h3>
    <p class="text-white">
      Fabrication equipment & tools; Pipes; Testing Equipment equipment & tools;
      <br />
      <br />
      Specialized and Heavy Machinery: Excavators, Dump trucks, Pipe layer
      Machines, Backhoe,&nbspBulldozers, Bucket Loaders, Concrete mixers,
      Concrete pumps;
      <br />
      <br />
      We mobilize the best units for project works to ensure that operations run
      without interruptions and meet the deadlines.
    </p>
  </div>
</div>
